.sidebar{
    position: fixed;
    top: 0;
    /* background: #373d92; */
    bottom: 0;
    left: 0;
    color: #ffff;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  
}
.contents{
    margin-left: auto;
}